
.classy-navbar {
  background-color: #f8f9fa; 
  padding: 0.8rem 2rem;

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      color: #007bff; 
    }
  }

  .nav-link {
    font-size: 1rem;
    color: #555;
    margin: 0 0.8rem;
    transition: color 0.3s ease;

    &:hover {
      color: #007bff; 
    }
  }

  .nav-btn {
    background-color: #007bff;
    border-radius: 30px;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border: none;
    transition: all 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 60%;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 15px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .nav-link {
    margin: 0.5rem 0;
    text-align: center;
  }

  .navbar-nav {
    flex-direction: column;
  }
}
